/* Header */

@media (max-width: 1299.98px) {
    .header__container {
        column-gap: 20%;
        transition: all 0.5s ease;
    }
}
@media (max-width: 1199.98px) {
    .nav {
        transition: all 0.5s ease;
        column-gap: 75px;
    }
    .nav__links {
        transition: all 0.5s ease;
        column-gap: 40px;
    }
}
@media (max-width: 1024.98px) {
    .nav {
        column-gap: 35px;
    }
    .nav__links {
        transition: all 0.5s ease;
        column-gap: 35px;
    }
    .nav__link a {
        transition: all 0.5s ease;
    }

    .nav__auth {
        transition: all 0.5s ease;
    }
}
@media (max-width: 964.98px) {
    .header__container {
        justify-content: space-between;
        column-gap: 6%;
        transition: all 0.5s ease;
    }
    .nav {
        column-gap: 15px;
    }
    .nav__links {
        transition: all 0.5s ease;
        column-gap: 25px;
    }
}
@media (max-width: 767.98px) {
    .header__container {
        flex-direction: column;
        row-gap: 10px;
    }
    .nav {
        flex-direction: column-reverse;
        row-gap: 10px;
    }
    .nav__link a {
        font-size: 16px;
    }
    .nav__auth {
        padding: 8px 35px;
    }
}
@media(max-width:480.98px) {
    
    .header {
        position: relative;
    }
    .nav__link a {
        font-size: 14px;
    }
    .nav__links {
        column-gap: 30px;
    }
    .nav__interaction {
        width: 100%;
        opacity: 1;
        padding: 10px 15px;
        position: fixed;
        top: 0;
        column-gap: 23px;
        align-items: center;
        justify-content: space-between;
    }
    .nav__interaction::before {
        display: block;
    }
    .nav__auth {
        padding: 8px 15px;
        font-size: 14px;
        background-color: #1b8c33;
    }   
    .nav__basket {
        padding: 10px 10px 10px 10px;
        position: relative;
        background-color: #1b8c33;
    }
    .nav__basket::before {
        font-size: 14px;
        padding: 0px 7px;
    } 
}

/* Main Section */

@media (max-width: 1199.98px) {
    .main__content {
        min-width: 50%;
    }
    .main__content .content__title {
        font-size: 50px;
    }
    .main__content .content__gps input {
        min-width: 572px;
        padding: 12px 211px 12px 74px;
    }
    .gps__btn {
        right: -15%;
    }

    .main__img {
        min-width: 50%;
    }
    .main__img img {
        max-width: 500px;
    }
    .img__delivered span {
        font-size: 32px;
    }
    .img__delivered img {
        max-width: 35px;
        max-height: 35px;
        top: 3px;
        left: 15px;
    }
    .img__delivered p {
        font-size: 20px;
    }
    .leaf_1 {
        top: -45%;
    }
}
@media (max-width: 1024.98px) {
    .main__content .content__gps input {
        min-width: 680px;
    }
    .gps__btn {
        right: 0%;
    }
    .main__img {
        display: none;
    }
    .leaf_1, .leaf_2 {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .main__content .content__gps::before {
        top: 5px;
        left: 5px;
    }
    .main__content .content__gps {
        max-width: 395px;
    }
    
    .main__content .content__gps input {
        max-width: 395px;
        min-width: 0;
        padding: 13px 130px 12px 60px;
        font-size: 16px;
    }
    .gps__btn {
        padding: 16px 18px 16px 18px;
        font-size: 14px;
    }
    .main__content .content__gps input::placeholder {
        font-size: 18px;
    }
    .main__content .content__gps::before {
        width: 45px;
        height: 45px;
        padding: 7px 8px 8px 7px;
    }
}
@media (max-width: 480.98px) {
    .page {
        margin-top: 50px;
    }
    .main__content .content__title {
        font-size: 35px;
    }
    .main__content .content__text {
        font-size: 20px;
    }
    .main__content .content__gps input {
        max-width: 345px;
        padding: 13px 100px 12px 60px;
    } 
    .gps__btn {
        padding: 15px 18px 16px 18px;
    }
    .gps__btn img {
        display: none;
    }
}
@media (max-width: 320.98px) {
    .main__content .content__title {
        font-size: 25px;
    }
    .main__content .content__text {
        font-size: 14px;
    }
    .main__content {
        row-gap: 20px;
    }
    .main__content .content__gps::before {
        display: none;
    }
    .main__content .content__gps input {  
        max-width: 285px;
        padding: 7px 80px 7px 15px;
        font-size: 16px;
    }
    .main__content .content__gps input::placeholder {
        font-size: 14px;
    }
    .gps__btn {
        padding: 10px 11px 10px 10px
    }
    
}

/* Explore Section */

@media (max-width: 1199.98px) {
    .explore__title {
        font-size: 45px;
    }
    .explore__text {
        max-width: 455px;
    }
    .explore__img img {
        width: 100%;
    }
}
@media (max-width: 1024.98px) {
    .page__explore {
        flex-direction: column-reverse;
    }
    .explore__content {
        width: 100%;
    }
    .explore__img {
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .explore__content {
        align-items: center;
    }
    .explore__title {
        font-size: 30px;
    }
    .explore__text {
        font-size: 16px;
    }
    .explore__btn {
        margin: 10px auto 0 auto;
    }
}
@media (max-width: 480.98px) {
    .explore__btn {
        padding: 12px 45px;
        font-size: 20px;
    }
}

/* Features Section */

@media (max-width: 1024.98px) {
    .features__items {
        justify-content: center;
    }
    .features__item {
        width: 45%;
    }
}
@media (max-width: 767.98px) {
    .features__item {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .features__item-text {
        text-align: center;
        max-width: 332px;
    }
}
@media (max-width: 480.98px) {
    .features__item {
        width: 100%;
        text-align: left;
        align-items: flex-start;
    }
    .features__item-title {
        font-size: 26px;
    }
    .features__item-text {
        text-align: left;
        max-width: 293px;
        font-size: 16px;
    }
}
@media (max-width: 374.98px) {
    .features__item {
        text-align: center;
        align-items: center;
    }
    .features__item-text {
        text-align: center;
    }
}
@media (max-width: 320.98px) {
    .features__item {
        text-align: center;

    }
}

/* Cooperation Section */

@media (max-width: 767.98px) {
    .cooperation__title {
        font-size: 32px;
    }
    .cooperation__text {
        font-size: 20px;
    }
}
@media (max-width: 480.98px) {
    .cooperation__title {
        font-size: 28px;
    }
    .cooperation__text {
        font-size: 16px;
    }
}

/* Questions Section */

@media (max-width: 767.98px) {
    
    .accordion__item {
        width: 100%;
    }
}
@media (max-width: 480.98px) {
    .questions__title {
        font-size: 35px;
    }
    .btn-sort {
        padding: 15px;
        font-size: 18px;
    }
    .accordion__body {
        font-size: 16px;
    }
}
@media (max-width: 374.98px) {
    .questions__title {
        font-size: 32px;
    } 
}

/* Download Section */

@media (max-width: 1314.98px) {
    .download__img {
        width: 550px;
        height: auto;
    }
    .page__download::after {
        min-height: 442px;
    }
}
@media (max-width: 1199.98px) {
    .download-content__installation > a > img {
        max-width: 175px;
    }
    .download__img {
        width: 500px;
        height: auto;
    }
    .page__download::after {
        min-height: 409.3px;
    }
}
@media (max-width: 1024.98px) {
    .download__content {
        width: 50%;
    }
    .download__img {
        max-width: 50%;
        width: 450px;
    }
    .download-content__title {
        font-size: 34px;
    }
    .download-content__description {
        margin-top: 12px;
    }
    .page__download::after {
        min-height: 365px;
    }
}
@media (max-width: 767.98px) {
    .page__download {
        text-align: center;
        row-gap: 30px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .download__content {
        width: 75%;
    }
    .download-content__description {
        text-align: center;
        max-width: 100%;
    }
    .download__img {
        display: none;
    }
    .page__download::after {
        min-height: 312px;
    }
    .download-content__installation {
        justify-content: center;
    }
}
@media (max-width: 517.98px) {
    .download__content {
        width: 100%;
    }
}
@media (max-width: 424.98px) {
    .download-content__title {
        font-size: 30px;
    }
    .download-content__description {
        font-size: 18px;
    }
}
@media (max-width: 374.98px) {
    .download-content__installation {
        gap: 10px;
        flex-direction: row;
        align-items: center;
    }
    .download-content__installation > a > img {
        max-width: 150px;
    }
    .page__download::after {
        min-height: 353px;
    }
    
}

/* Footer */

@media (max-width: 1024.98px) {
    .footer__inner {
        row-gap: 100px;
        flex-direction: column;
    }

    .footer__logo-block {
        width: 100%;
        align-items: center;
    }
    .footer__text {
        text-align: justify;
    }

    .footer__links-block {
        width: 100%;
    }
    .footer__quick-links, .footer__about, .footer__social {
        align-items: center;
    }
    .footer__links {
        align-items: center;
    }
}